@model List<City>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary m-lg-0 py-0">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">City List</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="text-end">
                <a asp-controller="City" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>Create New City
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="100%">
            <thead>
                <tr>
                    <th>City  Name</th>
                    <th>State</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>

</div>

@section Scripts{
    <script src="~/js/City.js"></script>

}